# Best Buy Project Notebook

## Data Import

In [24]:
# Import libraries
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('best_buy_raw_data.csv')

In [26]:
df.head(5)

,Encoded_SKU_ID,SALES_DATE,SUBCLASS_NAME,CLASS_NAME,ML_NAME,CATEGORY_NAME,RETAIL_PRICE,PROMO_PRICE,COMPETITOR_PRICE,Inventory,DAILY_UNITS
0,1,9/28/17,MISC CAMERA ACCES,DIGITAL CAMERA ACCY,ML - DI Accessories,VP - Digital Imaging,89.99,?,?,Fully-Stocked,1
1,2,11/24/17,CAMERA BATTERIES,DIGITAL CAMERA ACCY,ML - DI Accessories,VP - Digital Imaging,39.99,?,?,Fully-Stocked,18
2,3,11/28/19,SO PARTS,MOBILE ACCESSORIES,ML - Connected Car,VP - Electrify & Car,49.99,?,46.98,Constrained,7
3,4,4/21/21,SO RANGEHOODS REG,KITCHEN VENTILATION,ML - Kitchen,VP - Major Appliances,549.99,?,498,Fully-Stocked,6
4,1,10/27/18,MISC CAMERA ACCES,DIGITAL CAMERA ACCY,ML - DI Accessories,VP - Digital Imaging,89.99,?,?,Fully-Stocked,7

In [27]:
df.iloc[9]

Encoded_SKU_ID                                        9
SALES_DATE                                       7/9/21
SUBCLASS_NAME                      DIGITAL VIDEO
CLASS_NAME                           DIGITAL CAMCORDERS
ML_NAME             ML - P&S and Action Cams and Drones
CATEGORY_NAME                      VP - Digital Imaging
RETAIL_PRICE                                     599.99
PROMO_PRICE                                           ?
COMPETITOR_PRICE                                 597.99
Inventory                                 Fully-Stocked
DAILY_UNITS                                          15
Name: 9, dtype: object

## Data Cleaning

In [28]:
# Remove trailing spaces
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

# Replace "?" with "N/A"
df = df.replace('?', np.nan)

# Convert date format
df['SALES_DATE'] = pd.to_datetime(df['SALES_DATE'], format='%m/%d/%y').dt.strftime('%d%m%Y')

# Remove ML and VP in categories for improved readability
df['ML_NAME'] = df['ML_NAME'].str.slice(4)
df['CATEGORY_NAME'] = df['CATEGORY_NAME'].str.slice(4)

In [29]:
df.head()

,Encoded_SKU_ID,SALES_DATE,SUBCLASS_NAME,CLASS_NAME,ML_NAME,CATEGORY_NAME,RETAIL_PRICE,PROMO_PRICE,COMPETITOR_PRICE,Inventory,DAILY_UNITS
0,1,28092017,MISC CAMERA ACCES,DIGITAL CAMERA ACCY,DI Accessories,Digital Imaging,89.99,NaN,NaN,Fully-Stocked,1
1,2,24112017,CAMERA BATTERIES,DIGITAL CAMERA ACCY,DI Accessories,Digital Imaging,39.99,NaN,NaN,Fully-Stocked,18
2,3,28112019,SO PARTS,MOBILE ACCESSORIES,Connected Car,Electrify & Car,49.99,NaN,46.98,Constrained,7
3,4,21042021,SO RANGEHOODS REG,KITCHEN VENTILATION,Kitchen,Major Appliances,549.99,NaN,498,Fully-Stocked,6
4,1,27102018,MISC CAMERA ACCES,DIGITAL CAMERA ACCY,DI Accessories,Digital Imaging,89.99,NaN,NaN,Fully-Stocked,7